li {
  color: blue;
  font-size: 15px;
  background: gray;
  text-decoration: underline;
}

section {
  height: 300px;
  background: rgb(179, 71, 222);
  border: 5px solid gold;
}

h1 {
  font-size: 30px;
  color: gold;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
}

footer {
  background: rgb(101, 67, 33);
  height: 300px;
  width: 70%;
}

h2 {
  text-decoration: line-through;
}
