* {
  box-sizing: border-box;
}

header,
footer {
  height: 20%;
  clear: both;
  border: 2px solid black;
}

section {
  border: 2px solid black;
  float: left;
}

.top {
  width: 33.3333%;
  height: 25%;
}

.bottom {
  width: 50%;
  height: 35%;
}

@media screen and (max-width: 600px) {
  section {
    background: blue;
    clear: both;
  }
}
