@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

/* font-family: 'Playfair Display', serif;
font-family: 'Open Sans', sans-serif; */

/* basic styles */
*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-family: 'Open Sans', sans-serif;
	font-size: 62.5%;
	text-transform: capitalize;
}

body {
	font-size: 1.5rem;
}

h1,
h2,
h3 {
	font-family: 'Playfair Display', serif;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}

img {
	width: 150px;
}

/* layout */

nav ul {
	display: flex;
	justify-content: flex-end;
	padding: 0.5rem 0.8rem;
}

nav li {
	padding: 0.5rem 2rem;
}

main {
	min-height: 75vh;
	max-height: 100vh;
	background-image: url('https://github.com/Theo-Leveque/100Devs/blob/main/homework/flex-layouts/restaurant/img/cover-flipped.jpg?raw=true');
	background-size: 100%;
	background-repeat: no-repeat;
}
.top {
	padding: 10vh 10vw;
}
.top h1 {
	font-size: 6rem;
}
h1 span::before {
	content: '\A';
	white-space: pre;
}

.social-media {
	display: flex;
	justify-content: flex-start;
}
.social-media li {
	padding: 2rem;
}

.search-form input {
	padding: 1rem 1.5rem;
	margin: 1rem;
	appearance: none;
	border-radius: 1rem;
	border: 2px solid gray;
}

.search-form input[search] {
	width: 40vw;
	margin-right: 0;
}

.search-form input[button] {
	margin-left: 0;
}

.about-us {
}
