h1 { 
    font-size: 30px;
    padding: 0 0 0 100px;
    border: 3px solid red;
}

h2 { 
    font-size: 25px;
    padding: 50px 0;
    border: 10px solid gold;
    margin: 50px 0;
}

span {
    border: 1px solid black;
    padding: 10px;
    color: blue;
}

section {
    width: 25%;
    height: 200px;
    margin: 0 auto;
    border: 2px solid purple;
}