* {
    box-sizing: border-box;
  }
  
  header,
  footer {
    height: 20%;
   
    border: 2px solid black;
  }
  
  section {
      border: 2px solid black;
  }

  .grid-container { 
      height: 60vh;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr 1fr;
  }

  .top {
    grid-column: 1/4;
    grid-row: 1/2;
  }
  .left {
     grid-column: 1/2;
     grid-row: 2/3;
  }

  .right {
     grid-column: 2/4;
     grid-row: 2/3;
  }
