* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

main,
aside,
nav {
  width: 15%;
  float: left;
}

main {
  width: 60%;
}

aside {
  height: 80%;
  width: 25%;
}

.bottom {
  width: 100%;
}

.bottom img {
  float: right;
}
