*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav a,
nav li,
nav img,
nav form {
  float: left;
  padding: 1vh 1vw;
  color: white;
}

img {
  height: 5vh;
}

nav {
  height: 5vh;
  background: black;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

select {
  width: 5vw;
}

.top {
  float: left;
  width: 100%;
  height: 50%;
  border: 1px solid black;
}

.top-left,
.top-right {
  float: left;
  width: 50%;
}
.top-item {
  width: 50%;
  height: 50%;
  float: left;
}

.bottom {
  float: left;
  width: 100%;
  border: 1px solid black;
}

.bottom-item {
  float: left;
  width: 33%;
}
